extends layout
block content
    .row.h-100.text-center.bg-light#dummyPage
        .col-12
            .row
                .col-12
                    h1 LOL WHERE AM I
            .row.h-100
                .col-4.border.border-dark.rounded
                    .row.h-100
                        .col-12
                            .row
                                .col-12.bg-light
                                    p
                                    | DO YOU LIKE LOOKING AT THINGS THAT ARE COOL?
                                    | DO YOU WISH TO BECOME A PDF MEME GOD?????
                                    | THIS IS TOTALLY NOT A LEGIT THING BUT YOU NEED IT NOW!!!!!!!
                            .row.bg-light
                                .col-12
                                    a(href="/pdfpage") CLICK HERE FOR DANK PDF VIEWER THAT YOU NEED TO ASCEND TO GODHOOD
                .col-4.border.border-dark.rounded
                    p PROBABLY SOME WEIRD MEME SITE YOU FREQUENT
                    p I RAN OUT OF TIME WHEN MAKING THIS PAGE
                    p BUT  YOU COULD PROBABLY TELL
                    p THIS IS SUPPOSED TO REPRESENT A RANDOM SKETCHY INTERNET SITE WITH RANDOM ADVERTISEMENTS.
                    p WHAT IS THE MEANING OF LIFE?
                    p PRETEND THERE ARE MEMES HERE.
                    p JUST CLICK ON THE PDF VIEWER LINK AND END MY SUFFERING.
                    p DO NOT LOOK AT THE DOM STRUCTURE OF THIS PAGE PLEASE GOD.
                .col-4.border.border-dark.rounded
                    .row
                        .col-12
                            .row
                                .col-12
                                    p OH LERDD ANOTHER ADVERTISEMENT
                                    p GOD ONLY KNOWS WHAT THIS ONE COULD BE
                                    p MAYBE IT CONTAINS MINECRAFT SERVER HACKS
                                    p MAYBE IT HAS CALL OF DUTY CHEAT CODES
                                    p MAYBE YOU WON SOMETHING AND ITS 2006 AGAIN
