extends layout
block content
    .row
        .col-12
            .row
                .col-12
                    form
                        .form-group
                            label.searchLabel Search Keystrokes
                            input#searchKeystrokes.form-control(type="text")