extends layout
block content
 .row.h-100
    .col-12
        .row.h-100
            .col-3.bg-dark
            .col-6.mx-auto.border.border-dark.rounded-top
                .row.bg-light.border-top.border-dark.rounded-top
                    .col-6.mx-auto
                        .row
                            .col-12.text-center
                                h1 RobbieMac's PDF Viewer
                .row.bg-light.rounded-bottom
                    .col-6.mx-auto
                        .row
                            .col-6.mx-auto
                                .row
                                    .col-12
                                        img.bg-light.w-100.h-100(src="/img/pdfpic.jpg", alt="Logo")
                .row.bg-light.border.border-dark.rounded.mt-1
                    .col-6.mx-auto
                        .row
                            .col-12.text-center.p-2
                                h2 All of Your PDF Viewing Needs!
                        .row
                            .col-12
                                p
                                    |PDF viewer for Windows Platforms that fully functions for all pdf viewing needs, including viewing, printing, editing,
                                    |and others!  Created using brand new software that functions much better than Adobe Reader or other pdf viewing softwares.
                                    |And we haven't even mentioned the best part yet. It's FREE! Download today and give it a try!
                .row.bg-dark
                    .col-6.mx-auto
                        p
            .col-3.bg-dark